	/*general*/
	h1 {
		margin-bottom: 0;
	}
		a {
			text-decoration: none;
			color:#333;
		}
		ul li {
			list-style: none;
		}
		.d-inline {
			display: inline-block!important;
		}
		.text-center {
			text-align: center;
		}
		.p-relative {
			position: relative;
		}
		.mb20 {
			margin-bottom: 20px;
		}
		
		/*reloader*/
		.wrapper-spinner {
			position: absolute;
			z-index: 2;
			left: 48%;
			top: 35%;
		}
		.lds-ripple {
			width: 64px;
			height: 64px;
		}
		.lds-ripple div {
			position: absolute;
			border: 4px solid #26a69a;
			opacity: 1;
			border-radius: 50%;
			-webkit-animation: lds-ripple 1s cubic-bezier(0,.2,.8,1) infinite;
			animation: lds-ripple 1s cubic-bezier(0,.2,.8,1) infinite;
		}
		.lds-ripple div:nth-child(2) {
			-webkit-animation-delay: -.5s;
			animation-delay: -.5s;
		}
		@-webkit-keyframes lds-ripple{0%{top:28px;left:28px;width:0;height:0;opacity:1;}to{top:-1px;left:-1px;width:58px;height:58px;opacity:0;}}
		@keyframes lds-ripple{0%{top:28px;left:28px;width:0;height:0;opacity:1;}to{top:-1px;left:-1px;width:58px;height:58px;opacity:0;}}

		/*comic page*/
		.pagination li a {
			border-radius: 6px!important;
			box-shadow: 0 1px 6px 0 rgba(34, 34, 34, 0.02)!important;
			border: 1px solid rgba(34, 34, 34, 0.15)!important;
			padding: 5px 10px;
		}
		.pagination li a:hover {
			color: #fff;
			background: #333;
		}
		#img-comic {
			max-width: 620px;
		}